<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>    
    </head>
    <body>
        <h1>
            Aluno: <%= nome %> <%= sobren %>
        </h1>

        <p> 
           Escola: <%= local %>
        </p>
    </body>
</html>